    <nav>
        <div class="logo">
            <div class="sqrLogo"></div>
        </div>

        <div class="searchBar">
            <input type="text" placeholder="SEARCH..">
        </div>

        <div class="headr">
            <p>
                <a href="#one">Home</a>
            </p>
        </div>

        <div class="headr">
            <p>
                <a href="/spotify/">Conversion</a>
            </p>
        </div>
        
        <div class="headr">
            <p>
                <a href="#three">Create Playlist</a>
            </p>
        </div>

        <div class="headr">
            <p>
                <a href="#four">My Profile</a>
            </p>
        </div>

        <div class="headr">
            <p>
                <a href="#five">Sign in</a>
            </p>
        </div>
    </nav>
 