<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            {% load static %}
            <img src="{% static 'PlaylistCurator/imgs/musicLogo.png' %}" alt="music logo" width="50" height="50"
                 class="d-inline-block align-top">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="searchBar">
                <input type="text" placeholder="SEARCH..">
            </div>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 w-75 justify-content-evenly">
                <li class="nav-item">
                    <a class="nav-link"  href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Spotify Cleaner</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Youtube Music Cleaner</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Sign In</a>
                </li>
            </ul>

        </div>
    </div>
</nav>